*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container
{   
   display: flex;
}
.leftbar
{
    background-color:rgb(0, 183, 255);
    height: 100vh;
}
.leftbar>h1
{
    display: inline;
    color: white;
    position: relative;
    bottom: 2%;
}
.leftbar>div
{
    position: relative;
    top: 20px;
    background-color: rgb(0, 183, 255);
    margin:10px 0;
    padding: 10px 0 0 20px;
    text-align: top;
    border: 4px dotted;
}
div:nth-child(7)
{
    margin-bottom: 30%;
}
div>h3
{
    display: inline;
    color: white;
    position: relative;
    bottom: 5px;
    margin-left: 10px;
}